@model IEnumerable<Movie>

<h1>Movie List</h1>

@if (Model == null || Model.Count() == 0)
{
	<h2>No Movies Provided</h2>
}
else
{
	foreach (Movie m in Model)
	{
		@*<h3>@m.Title</h3>
		<h3>@m.Year</h3>
		<h3>@m.Rating</h3>*@

		<partial name="_MoviePartialView.cshtml" for="@m" />
	}
}
