@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to your game collection! View your collection by clicking <i>here</i>, 
        except not really since I do not have that set up currently.</p>
</div>
