@model IEnumerable<Game>

<h1>Game List: @Model.Count()</h1>

@if (Model == null || Model.Count() == 0)
{
		<h2>No Games Provided</h2>
}
else
{
		<h4>@TempData["Success"]</h4>

		<form class="d-flex" asp-controller="Game" asp-action="Search" method="post">
			<input name="key" class="form-control me-2" type="search" placeholder="Search" />
			<button class="btn btn-secondary my-2" type="submit">Search</button>
		</form>

		<div class="row">
		@foreach (Game m in Model)
		{

				<div class="col-3 border text-center">
				<partial name="_GamePartialView.cshtml" for="@m" />
				</div>

		}
		</div>
}
