@model IEnumerable<Game>

<h1>Game List: @Model.Count()</h1>

@if (Model == null || Model.Count() == 0)
{
		<h2>No Games Provided</h2>
}
else
{
		<div class="row">
		@foreach (Game m in Model)
		{

				<div class="col-3 border text-center">
				<partial name="_GamePartialView.cshtml" for="@m" />
				</div>

		}
		</div>
}
