@{
    ViewData["Title"] = "Expectations";
}
@*<h1>@ViewData["Title"]</h1>*@

<div class="text-center">
    <h1 class="display-4">Expectations</h1>
    <article>
        <p> 
            Upon graduating, I intend to pay off my student loans. <br />
            I would accomplish this by seeking jobs in game development and game design. 
            I even have ideas for a trilogy that I would like to create. <br />
            Something that I have been contemplating for several years, 
            albeit they are but bits and pieces. <br />
            Fractals of a world that I would like to explore.<br />
        </p>
    </article>

    <img src="/images/Diploma.jpg"></img>

    <article>
        <p>
            I would also plan to contemplate concepts of humanity and reality. <br />
            Sitting alone, tossing around ideas of what could be. <br />
            Any ideas that appear to have substance, <br />
            I will continue to preserve in writing. <br />
            Besides, if there is one thing that philosophy and game development <br />
            have working for each other, it's that even if reality <br />
            doesn't demonstrate a particular concept, I could still explore such <br />
            a concept in action, should it be interesting enough.<br />
        </p>
    </article>

    <img src="/images/RelaxedMinecraft.gif"></img>

</div>

<div class="text-center">
    <footer>Copyright ©2024 by Charles Massie III</footer>
</div>