@{
    ViewData["Title"] = "General";
}

<div class="text-center">
    <h1 class="display-4">General</h1>
    <img src="/images/Me.JPG" width=99 height=138></img>
        <article>
            <p> 
                My name is Charles Massie. <br />
                I was born on October 9th, 2002. <br />
                I am the eldest son of my mother and father.<br />
                I was born and raised in the mythical land of Ohio.<br />
            </p>
        </article>
        <article>
            <p>
                I take interest in philosophy and the communication of ideas.<br />
                Odd how one could say the same thing using different words and phrases and derive alternate interpretations.<br />
                I have also found entertainment within video games.<br />
                I did not have many games accessable to me, although Minecraft was one I had access to.<br />
            </p>
        </article>
            <img src="/images/DepictingPhilosophy.webp" width=500 height=334></img>
</div>

<div class="text-center">
    <footer>Copyright ©2024 by Charles Massie III</footer>
</div>

@*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@