@{
    ViewData["Title"] = "General";
}

<div class="text-center">
    <h1 class="display-4">General</h1>
</div>

<p>Test current setup </p>

<div class="text-center">
    <footer>Copyright ©2024 by Charles Massie III</footer>
</div>

@*    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@