@{
    ViewData["Title"] = "Lore";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's lore.</p>

<div class="text-center">
    <footer>Copyright ©2024 by Charles Massie III</footer>
</div>