@{
    ViewData["Title"] = "Lore";
}

@*<h1>@ViewData["Title"]</h1>*@

<div class="text-center">
    <h1 class="display-4">Lore</h1>
    <article>
        <p> 
            Where I grew up, significance was a rare commodity.<br />
            I would often be left with little more than my own thoughts.<br />
            Memories of the same day repeating itself, time parodying recollections.<br />
            Of course, there is a comfort to consistency,<br />
            but when clocks refuses to let you stay in paradise,<br />
            it is only a matter of time before you smell the rot.<br />
        </p>
    </article>
    <article>
        <p> 
            And as the rising sun left a sour taste in my mouth,<br />
            a constant mockery of stagnant potential,<br />
            my family had decided to move to Flordia.<br />
            An intriguing prospect if even for a week,<br />
            until the days resumed repetition, all over again.<br />
        </p>
    </article>
    <article>
        <p> 
            At this point, it became evident to me that a mere change in scenery wasn't enough.<br />
            I needed a change in cast. I needed an entirely new narrative.<br />
            I needed to reach beyond my roots. I needed to reach for the sun.<br />
            <img src="/images/RisingSun.jpeg" width=300 height=200></img>
            One day, the sun rose over Utah...<br />
        </p>
    </article>
    <article>
        <p> 
            The first day was spent taking in the surroundings.<br />
            I had never seen buildings so tall up close.<br />
            I had hardly known anticipation until then.<br />
            Back home, I rarely cared for whatever happened next.<br />
            I learned to embrace chaos.<br />
            Now I stood amongst it.<br />
        </p>
    </article>

    <article>
        <p>
            The second day, I had encountered two people offering cookies.<br />
            Wondering why, I accepted their offer.<br />
            I then learned that they were Mormon missionaries.<br />
            They spoke of their God, I alluded to mine.<br />
            I observed their words, their reasoning.<br />
            I witnessed psychology in action.<br />
            Afterward, we said our goodbyes...<br />
        </p>
    </article>

    <img src="/images/Mormon.jpg"></img>

    <article>
        <p> 
            And as the sun set, I couldn't help but think,<br />
            "Huh, I think I'm gonna like it here."<br />
        </p>
    </article>
</div>

<div class="text-center">
    <footer>Copyright ©2024 by Charles Massie III</footer>
</div>

@*
    Where I grew up, significance was a rare commodity.
    I would often be left with little more than my own thoughts.
    Memories of the same day repeating itself, time parodying recollections.
    Of course, there is a comfort to consistency,
    but when clocks refuses to let you stay in paradise,
    it is only a matter of time before you smell the rot.

    And as the rising sun left a sour taste in my mouth,
    a constant mockery of stagnant potential,
    my family had decided to move to Flordia.
    An intriguing prospect if even for a week,
    until the days resumed repetition, all over again.

    At this point, it became evident to me that a mere change in scenery wasn't enough.
    I needed a change in cast. I needed an entirely new narrative.
    I needed to reach beyond my roots. I needed to reach for the sun.
    One day, the sun rose over Utah...

    The first day was spent taking in the surroundings.
    I had never seen buildings so tall up close.
    I had hardly known anticipation until then.
    Back home, I rarely cared for whatever happened next.
    I learned to embrace chaos.
    Now I stood amongst it.

    The second day, I had encountered two people offering cookies.
    Wondering why, I accepted their offer.
    I then learned that they were Mormon missionaries.
    They spoke of their God, I alluded to mine.
    I observed their words, their reasoning.
    I witnessed psychology in action.
    Afterward, we said our goodbyes...

    And as the sun set, I couldn't help but think,
    "Huh, I think I'm gonna like it here."
*@